.wd-follow-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 3px;
}

ul#follows-group .btn-primary {
  border-color: rgb(16, 20, 24);
  background-color: rgb(16, 20, 24);
}

ul#follows-group {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(237, 241, 242);
  border-radius: 20px;
}

ul#follows-group .list-group-item {
  background-color: rgb(237, 241, 242);
  padding: 8px 16px 8px 16px;
}
